<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="7" android:versionName="1.0.7" package="net.davidmcginnis.mixologyjournal.android" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="20" android:targetSdkVersion="29" />
	<application android:label="Mixology Journal" android:icon="@drawable/Square310x310Logo">
		<activity android:name="com.microsoft.windowsazure.mobileservices.authentication.RedirectUrlActivity" android:launchMode="singleTop" android:noHistory="true"></activity>
	</application>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.INTERNET" />
</manifest>